.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  width: 30vw;
  justify-content: space-evenly;
}

.split {
  justify-content: space-between;
}

.slider {
  width: 20vw;
}

#progress-container {
  display: none;
}

/*Footer*/
footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  padding: 10px 20px;
  background: #666;
  color: white;
}

footer p{
  text-align: center;
}
